<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>granqvist.dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <%- include('partials/nav'); %> <%- include('partials/header'); %> <%-
    include('partials/skills'); %> <%- include('partials/projects'); %> <%-
    include('partials/about'); %> <%- include('partials/contact'); %>

    <script>
      const swiper = new Swiper('.swiper', {
        dragable: true,
        loop: true,
        slidesPerView: 1.5,
        spaceBetween: 10,
        breakpoints: {
          760: { slidesPerView: 2.5, spaceBetween: 20 },
          1200: { slidesPerView: 3.5, spaceBetween: 30 },
          1865: { slidesPerView: 3.5, spaceBetween: 40 },
        },
      });
    </script>
  </body>
</html>
